# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
public/assets/img/testimonial/1.jpg
public/assets/img/testimonial/2.jpg
public/assets/img/testimonial/testi-1.png
public/assets/img/testimonial/testi-2.png
public/assets/img/blog/blog-1.jpg
public/assets/img/blog/blog-2.jpg
public/assets/img/blog/blog-3.jpg
public/assets/img/blog/blog-4.jpg
public/assets/img/blog/blog-5.jpg
public/assets/img/blog/blog-6.jpg
public/assets/img/blog/blog-7.jpg
public/assets/img/blog/blog-8.jpg
public/assets/img/blog/blog-9.jpg
public/assets/img/blog/blog-10.jpg
public/assets/img/blog/blog-11.jpg
public/assets/img/blog/blog-12.jpg
public/assets/img/blog/blog-13.jpg
public/assets/img/blog/blog-14.jpg
public/assets/img/blog/blog-15.jpg
public/assets/img/blog/blog-details-2.jpg
public/assets/img/blog/blog-details.jpg
public/assets/img/blog/comment-1.jpg
public/assets/img/blog/comment-2.jpg
public/assets/img/blog/comment-3.jpg
public/assets/img/blog/comment-4.jpg
public/assets/img/blog/sidebar-1.jpg
public/assets/img/blog/sidebar-2.jpg
public/assets/img/blog/sidebar-3.jpg
public/assets/img/bg/bg-1.jpg
public/assets/img/bg/bg-5.jpg
public/assets/img/bg/bg-6.jpg
public/assets/img/bg/bg-7.jpg
public/assets/img/bg/bg-8.jpg
public/assets/img/bg/cta-bg.jpg
public/assets/img/bg/deal-bg.jpg
public/assets/img/bg/footer-bg.jpg
public/assets/img/bg/medicine-bg.jpg
public/assets/img/bg/newsletter-bg.jpg
public/assets/img/bg/shape-2.png
public/assets/img/bg/shape.png
public/assets/img/bg/testimonial-bg-2.jpg
public/assets/img/bg/testimonial-bg-3.jpg
public/assets/img/bg/testimonial-bg.jpg
public/assets/img/banner/banner-1.jpg
public/assets/img/banner/banner-2.jpg
public/assets/img/banner/banner-3.jpg
public/assets/img/banner/banner-4.jpg
public/assets/img/banner/banner-4.png
public/assets/img/banner/banner-5.jpg
public/assets/img/banner/banner-5.png
public/assets/img/banner/banner-6.png
public/assets/img/banner/banner-7.png
public/assets/img/banner/banner-8.png
public/assets/img/banner/banner-9.png
public/assets/img/banner/banner-10.png
public/assets/img/banner/banner-11.png
public/assets/img/banner/banner-12.png
public/assets/img/banner/banner-13.png
public/assets/img/banner/banner-14.png
public/assets/img/banner/banner-15.png
public/assets/img/banner/banner-16.png
public/assets/img/banner/banner-17.png
public/assets/img/banner/banner-18.png
public/assets/img/banner/banner-19.png
public/assets/img/banner/banner-20.png
public/assets/img/banner/banner-21.png
public/assets/img/banner/banner-22.png
public/assets/img/banner/banner-23.png
public/assets/img/banner/banner-24.png
public/assets/img/banner/banner-25.png
public/assets/img/banner/banner-30.png
public/assets/img/banner/banner-31.png
public/assets/img/banner/banner-32.png
public/assets/img/banner/banner-33.png
public/assets/img/banner/banner-34.png
public/assets/img/banner/banner-35.png
public/assets/img/banner/banner-36.jpg
public/assets/img/banner/banner-36.png
public/assets/img/banner/banner-37.jpg
public/assets/img/banner/banner-37.png
public/assets/img/banner/banner-38.jpg
public/assets/img/banner/banner-38.png
public/assets/img/banner/banner-39.jpg
public/assets/img/banner/banner-39.png
public/assets/img/banner/banner-40.jpg
public/assets/img/banner/banner-40.png
public/assets/img/banner/banner-41.jpg
public/assets/img/banner/banner-41.png
public/assets/img/banner/banner-42.jpg
public/assets/img/banner/banner-42.png
public/assets/img/banner/banner-43.jpg
public/assets/img/banner/banner-43.png
public/assets/img/banner/banner-44.jpg
public/assets/img/banner/banner-44.png
public/assets/img/banner/banner-45.jpg
public/assets/img/banner/banner-45.png
public/assets/img/banner/banner-46.jpg
public/assets/img/banner/banner-46.png
public/assets/img/banner/banner-47.jpg
public/assets/img/banner/banner-47.png
public/assets/img/banner/banner-48.png
public/assets/img/banner/banner-49.png
public/assets/img/banner/banner-50.png
public/assets/img/banner/banner-51.png
public/assets/img/banner/banner-52.png
public/assets/img/banner/banner-53.png
public/assets/img/banner/banner-54.png
public/assets/img/banner/banner-55.png
public/assets/img/banner/banner-56.png
public/assets/img/banner/banner-57.png
public/assets/img/banner/banner-58.png
public/assets/img/banner/banner-59.png
public/assets/img/banner/banner-60.png
public/assets/img/banner/banner-61.png
public/assets/img/banner/banner-62.png
public/assets/img/banner/banner-63.png
public/assets/img/banner/banner-64.png
public/assets/img/banner/banner-65.png
public/assets/img/banner/banner6.jpg
public/assets/img/banner/banner7.jpg
public/assets/img/banner/banner8.jpg
public/assets/img/banner/banner9.jpg
public/assets/img/banner/banner10.jpg
public/assets/img/banner/banner11.jpg
public/assets/img/banner/banner12.jpg
public/assets/img/banner/banner13.jpg
public/assets/img/banner/banner14.jpg
public/assets/img/banner/banner15.jpg
public/assets/img/banner/banner16.jpg
public/assets/img/banner/banner17.jpg
public/assets/img/banner/banner18.jpg
public/assets/img/banner/banner19.jpg
public/assets/img/banner/banner20.jpg
public/assets/img/banner/banner21.jpg
public/assets/img/banner/banner22.jpg
public/assets/img/banner/banner23.jpg
public/assets/img/banner/banner24.jpg
public/assets/img/banner/banner25.jpg
public/assets/img/banner/banner26.jpg
public/assets/img/banner/banner27.jpg
public/assets/img/banner/banner28.jpg
public/assets/img/banner/banner29.jpg
public/assets/img/banner/banner30.jpg
public/assets/img/banner/banner31.jpg
public/assets/img/banner/banner32.jpg
public/assets/img/banner/banner33.jpg
public/assets/img/banner/banner34.jpg
public/assets/img/banner/banner35.jpg
public/assets/img/banner/deal-2.png
public/assets/img/banner/deal-3.png
public/assets/img/banner/deal-4.jpg
public/assets/img/banner/deal-5.png
public/assets/img/banner/deal-6.png
public/assets/img/banner/deal-7.png
public/assets/img/banner/deal-8.jpg
public/assets/img/banner/deal-8.png
public/assets/img/banner/deal-9.png
public/assets/img/banner/deal-10.png
public/assets/img/banner/deal-11.png
public/assets/img/banner/deal.png
public/assets/img/slider/hm-11-1.png
public/assets/img/slider/hm-11-2.png
public/assets/img/slider/hm13-slider-1.jpg
public/assets/img/slider/single-slide-1.png
public/assets/img/slider/single-slide-2.png
public/assets/img/slider/single-slide-3.png
public/assets/img/slider/single-slide-4.png
public/assets/img/slider/single-slide-5.png
public/assets/img/slider/single-slide-6.png
public/assets/img/slider/single-slide-7.png
public/assets/img/slider/single-slide-11-1.png
public/assets/img/slider/single-slide-11-2.png
public/assets/img/slider/single-slide-hm1-2.png
public/assets/img/slider/single-slider-12.png
public/assets/img/slider/slider-1.jpg
public/assets/img/slider/slider-2-2.jpg
public/assets/img/slider/slider-2.jpg
public/assets/img/slider/slider-3.jpg
public/assets/img/slider/slider-4.jpg
public/assets/img/slider/slider-5-1.jpg
public/assets/img/slider/slider-5.jpg
public/assets/img/slider/slider-6-1.jpg
public/assets/img/slider/slider-6-2.jpg
public/assets/img/slider/slider-6.jpg
public/assets/img/slider/slider-8-2.jpg
public/assets/img/slider/slider-8.jpg
public/assets/img/slider/slider-9.jpg
public/assets/img/slider/slider-10-2.jpg
public/assets/img/slider/slider-10.jpg
public/assets/img/slider/slider-11-2.jpg
public/assets/img/slider/slider-11.jpg
public/assets/img/slider/slider-12-2.jpg
public/assets/img/slider/slider-12.jpg
public/assets/img/slider/slider-13.jpg
public/assets/img/slider/slider-14.jpg
public/assets/img/slider/slider-15.jpg
public/assets/img/slider/slider-16.jpg
public/assets/img/slider/slider-17.jpg
public/assets/img/slider/slider-18.jpg
public/assets/img/slider/slider-19.jpg
public/assets/img/slider/slider-20.jpg
public/assets/img/slider/slider-21.jpg
public/assets/img/slider/slider-22.jpg
public/assets/img/slider/slider-23.jpg
public/assets/img/slider/slider-24.jpg
public/assets/img/slider/slider-25.jpg
public/assets/img/slider/slider-26.jpg
public/assets/img/slider/slider-27.jpg
public/assets/img/slider/slider-28.jpg
public/assets/img/slider/slider-29.jpg
public/assets/img/slider/slider-30.jpg
public/assets/img/slider/slider-31.jpg
public/assets/img/slider/slider-32.jpg
public/assets/img/slider/slider-33.jpg
public/assets/img/slider/slider-34.jpg
public/assets/img/slider/slider-35.jpg
public/assets/img/slider/slider-36.jpg
public/assets/img/slider/slider-37.jpg
public/assets/img/slider/slider-38.jpg
public/assets/img/slider/valentine-text.png
public/assets/img/product/category1.jpg
public/assets/img/product/category2.jpg
public/assets/img/product/category3.jpg
public/assets/img/product/category4.jpg
public/assets/img/product/hm6-pro-1.jpg
public/assets/img/product/hm6-pro-2.jpg
public/assets/img/product/hm6-pro-3.jpg
public/assets/img/product/hm6-pro-4.jpg
public/assets/img/product/hm6-pro-5.jpg
public/assets/img/product/hm6-pro-6.jpg
public/assets/img/product/hm6-pro-7.jpg
public/assets/img/product/hm6-pro-8.jpg
public/assets/img/product/hm8-pro-1.jpg
public/assets/img/product/hm8-pro-2.jpg
public/assets/img/product/hm8-pro-3.jpg
public/assets/img/product/hm8-pro-4.jpg
public/assets/img/product/hm9-cagi-1.jpg
public/assets/img/product/hm9-cagi-2.jpg
public/assets/img/product/hm9-cagi-3.jpg
public/assets/img/product/accessories/1.jpg
public/assets/img/product/accessories/2.jpg
public/assets/img/product/accessories/3.jpg
public/assets/img/product/accessories/4.jpg
public/assets/img/product/accessories/5.jpg
public/assets/img/product/accessories/6.jpg
public/assets/img/product/accessories/7.jpg
public/assets/img/product/accessories/8.jpg
public/assets/img/product/accessories/9.jpg
public/assets/img/product/accessories/10.jpg
public/assets/img/product/accessories/11.jpg
public/assets/img/product/accessories/12.jpg
public/assets/img/product/auto-parts/1.jpg
public/assets/img/product/auto-parts/2.jpg
public/assets/img/product/auto-parts/3.jpg
public/assets/img/product/auto-parts/4.jpg
public/assets/img/product/black-friday/1.jpg
public/assets/img/product/black-friday/2.jpg
public/assets/img/product/black-friday/3.jpg
public/assets/img/product/black-friday/4.jpg
public/assets/img/product/black-friday/5.jpg
public/assets/img/product/black-friday/6.jpg
public/assets/img/product/black-friday/7.jpg
public/assets/img/product/black-friday/8.jpg
public/assets/img/product/books/1.jpg
public/assets/img/product/books/2.jpg
public/assets/img/product/books/3.jpg
public/assets/img/product/books/4.jpg
public/assets/img/product/books/5.jpg
public/assets/img/product/books/6.jpg
public/assets/img/product/books/7.jpg
public/assets/img/product/books/8.jpg
public/assets/img/product/cake-shop/1.jpg
public/assets/img/product/cake-shop/2.jpg
public/assets/img/product/cake-shop/3.jpg
public/assets/img/product/cake-shop/4.jpg
public/assets/img/product/cake-shop/5.jpg
public/assets/img/product/cake-shop/6.jpg
public/assets/img/product/cake-shop/7.jpg
public/assets/img/product/cake-shop/8.jpg
public/assets/img/product/christmas/1.jpg
public/assets/img/product/christmas/2.jpg
public/assets/img/product/christmas/3.jpg
public/assets/img/product/christmas/4.jpg
public/assets/img/product/christmas/5.jpg
public/assets/img/product/cosmetics/1.jpg
public/assets/img/product/cosmetics/2.jpg
public/assets/img/product/cosmetics/3.jpg
public/assets/img/product/cosmetics/4.jpg
public/assets/img/product/cosmetics/5.jpg
public/assets/img/product/cosmetics/6.jpg
public/assets/img/product/cosmetics/7.jpg
public/assets/img/product/cosmetics/8.jpg
public/assets/img/product/electronics/1.jpg
public/assets/img/product/electronics/2.jpg
public/assets/img/product/electronics/3.jpg
public/assets/img/product/electronics/4.jpg
public/assets/img/product/electronics/5.jpg
public/assets/img/product/electronics/6.jpg
public/assets/img/product/electronics/7.jpg
public/assets/img/product/electronics/8.jpg
public/assets/img/product/electronics/9.jpg
public/assets/img/product/electronics/10.jpg
public/assets/img/product/fashion/1.jpg
public/assets/img/product/fashion/2.jpg
public/assets/img/product/fashion/3.jpg
public/assets/img/product/fashion/4.jpg
public/assets/img/product/fashion/5.jpg
public/assets/img/product/fashion/6.jpg
public/assets/img/product/fashion/7.jpg
public/assets/img/product/fashion/8.jpg
public/assets/img/product/fashion/9.jpg
public/assets/img/product/fashion/10.jpg
public/assets/img/product/fashion/11.jpg
public/assets/img/product/fashion/12.jpg
public/assets/img/product/fashion/13.jpg
public/assets/img/product/fashion/14.jpg
public/assets/img/product/fashion/15.jpg
public/assets/img/product/fashion/16.jpg
public/assets/img/product/fashion/17.jpg
public/assets/img/product/fashion/18.jpg
public/assets/img/product/fashion/19.jpg
public/assets/img/product/fashion/20.jpg
public/assets/img/product/fashion/21.jpg
public/assets/img/product/fashion/22.jpg
public/assets/img/product/fashion/23.jpg
public/assets/img/product/fashion/24.jpg
public/assets/img/product/fashion/25.jpg
public/assets/img/product/fashion/26.jpg
public/assets/img/product/fashion/27.jpg
public/assets/img/product/fashion/28.jpg
public/assets/img/product/fashion/29.jpg
public/assets/img/product/fashion/30.jpg
public/assets/img/product/flowers/1.jpg
public/assets/img/product/flowers/2.jpg
public/assets/img/product/flowers/3.jpg
public/assets/img/product/flowers/4.jpg
public/assets/img/product/flowers/5.jpg
public/assets/img/product/flowers/6.jpg
public/assets/img/product/flowers/7.jpg
public/assets/img/product/flowers/8.jpg
public/assets/img/product/fruits/1.jpg
public/assets/img/product/fruits/2.jpg
public/assets/img/product/fruits/3.jpg
public/assets/img/product/fruits/4.jpg
public/assets/img/product/fruits/5.jpg
public/assets/img/product/fruits/6.jpg
public/assets/img/product/fruits/7.jpg
public/assets/img/product/fruits/8.jpg
public/assets/img/product/furnitures/1.jpg
public/assets/img/product/furnitures/2.jpg
public/assets/img/product/furnitures/3.jpg
public/assets/img/product/furnitures/4.jpg
public/assets/img/product/furnitures/5.jpg
public/assets/img/product/furnitures/6.jpg
public/assets/img/product/furnitures/7.jpg
public/assets/img/product/furnitures/8.jpg
public/assets/img/product/handmade/1.jpg
public/assets/img/product/handmade/2.jpg
public/assets/img/product/handmade/3.jpg
public/assets/img/product/handmade/4.jpg
public/assets/img/product/handmade/5.jpg
public/assets/img/product/handmade/6.jpg
public/assets/img/product/handmade/7.jpg
public/assets/img/product/handmade/8.jpg
public/assets/img/product/medical/1.jpg
public/assets/img/product/medical/2.jpg
public/assets/img/product/medical/3.jpg
public/assets/img/product/medical/4.jpg
public/assets/img/product/medical/5.jpg
public/assets/img/product/medical/6.jpg
public/assets/img/product/medical/7.jpg
public/assets/img/product/medical/8.jpg
public/assets/img/product/medical/9.jpg
public/assets/img/product/medical/10.jpg
public/assets/img/product/medical/11.jpg
public/assets/img/product/medical/12.jpg
public/assets/img/product/pet-food/1.jpg
public/assets/img/product/pet-food/2.jpg
public/assets/img/product/pet-food/3.jpg
public/assets/img/product/pet-food/4.jpg
public/assets/img/product/pet-food/5.jpg
public/assets/img/product/pet-food/6.jpg
public/assets/img/product/pet-food/7.jpg
public/assets/img/product/pet-food/8.jpg
public/assets/img/product/plants/1.jpg
public/assets/img/product/plants/2.jpg
public/assets/img/product/plants/3.jpg
public/assets/img/product/plants/4.jpg
public/assets/img/product/plants/5.jpg
public/assets/img/product/plants/6.jpg
public/assets/img/product/plants/7.jpg
public/assets/img/product/plants/8.jpg
